'default':
  cellranger_chemistry: SC3Pv3
  star_whitelist: 3M-february-2018.txt
  star_cb_len: 12
  star_umi_len: 16

'10X Genomics Chromium Single Cell 3p GEM Library & Gel Bead Kit v3':
  cellranger:
    chemistry: SC3Pv3
  star:
    whitelist: 3M-february-2018.txt
    cb_len: 12
    umi_len: 16
  alevin:
    chemistry: chromiumV3
  umi_tools:
    chemistry: CCCCCCCCCCCCCCCCNNNNNNNNNNNN
  
  
'10X Genomics Chromium Single Cell 3p GEM Library & Gel Bead Kit v2':
  cellranger:
    chemistry: SC3Pv2
  star:
    whitelist: 737K-august-2016.txt
    cb_len: 10
    umi_len: 16
  alevin:
    chemistry: chromium
  umi_tools:
    chemistry: CCCCCCCCCCCCCCCCNNNNNNNNNN