cellranger:
  gene_biotype:
    - protein_coding
    - lincRNA
    - antisense
    - IG_LV_gene
    - IG_V_gene
    - IG_V_pseudogene
    - IG_D_gene
    - IG_J_gene
    - IG_J_pseudogene
    - IG_C_gene
    - IG_C_pseudogene
    - TR_V_gene
    - TR_V_pseudogene
    - TR_D_gene
    - TR_J_gene
    - TR_J_pseudogene
    - TR_C_gene
  prebuilds:
    homo_sapiens: 'http://cf.10xgenomics.com/supp/cell-exp/refdata-cellranger-GRCh38-3.0.0.tar.gz'
    mus_musculus: 'http://cf.10xgenomics.com/supp/cell-exp/refdata-cellranger-mm10-3.0.0.tar.gz'
    homo_sapiens__mus_musculus: 'http://cf.10xgenomics.com/supp/cell-exp/refdata-cellranger-hg19-and-mm10-3.0.0.tar.gz'
  docker: 'docker://gcfntnu/cellranger:3.0.0'
    