10xgenomics:
  prebuilds:
    homo_sapiens: 'http://cf.10xgenomics.com/supp/cell-exp/refdata-cellranger-GRCh38-3.0.0.tar.gz'
    mus_musculus: 'http://cf.10xgenomics.com/supp/cell-exp/refdata-cellranger-mm10-3.0.0.tar.gz'
    homo_sapiens__mus_musculus: 'http://cf.10xgenomics.com/supp/cell-exp/refdata-cellranger-hg19-and-mm10-3.0.0.tar.gz'
    
  cellranger_url: "http://cf.10xgenomics.com/releases/cell-exp/cellranger-3.0.0.tar.gz?Expires=1544064343&Policy=eyJTdGF0ZW1lbnQiOlt7IlJlc291cmNlIjoiaHR0cDovL2NmLjEweGdlbm9taWNzLmNvbS9yZWxlYXNlcy9jZWxsLWV4cC9jZWxscmFuZ2VyLTMuMC4wLnRhci5neiIsIkNvbmRpdGlvbiI6eyJEYXRlTGVzc1RoYW4iOnsiQVdTOkVwb2NoVGltZSI6MTU0NDA2NDM0M319fV19&Signature=ZG-VUi3e41Ltje6Cls2dJ31JkXXsgm1J76b0HuVfXPSa-W8fKK7yWvY5bC6gzLid-bsL6DWZuiAmAoMzR9DtddSHEi-lpTqfdsB1WSDNlFnoPgBpb5-SMOScGv1UxARpxxv~9GUpIeyxPqzxJ7i-Ss5PpplUsYZosTywPjxcdBN3zVRoWO5t8mY5wCWNuglf~GD4LIQle6SdoY2H1uNHwvibB7A0Z-AZYTAFiHzI8XxBSvsfiJ24~NbJ4M85ioGcu0zFZD1YdPCv5xvJXntMDAiog5v3o6MwRXlBV0fiTCygH1oxMTzWwpPpcoqhr6Uib~oa56Dl80SAcbjgI6gCHQ__&Key-Pair-Id=APKAI7S6A5RYOXBWRPDA"