10xgenomics:
  prebuilds:
    homo_sapiens: 'http://cf.10xgenomics.com/supp/cell-exp/refdata-cellranger-GRCh38-3.0.0.tar.gz'
    mus_musculus: 'http://cf.10xgenomics.com/supp/cell-exp/refdata-cellranger-mm10-3.0.0.tar.gz'
    homo_sapiens__mus_musculus: 'http://cf.10xgenomics.com/supp/cell-exp/refdata-cellranger-hg19-and-mm10-3.0.0.tar.gz'
    
  cellranger_url: "https://cf.10xgenomics.com/releases/cell-exp/cellranger-3.0.2.tar.gz?Expires=1551999988&Policy=eyJTdGF0ZW1lbnQiOlt7IlJlc291cmNlIjoiaHR0cDovL2NmLjEweGdlbm9taWNzLmNvbS9yZWxlYXNlcy9jZWxsLWV4cC9jZWxscmFuZ2VyLTMuMC4yLnRhci5neiIsIkNvbmRpdGlvbiI6eyJEYXRlTGVzc1RoYW4iOnsiQVdTOkVwb2NoVGltZSI6MTU1MTk5OTk4OH19fV19&Signature=Z4vguIvM4xKJbL-Wzwh5r7bpn938veXgfijUyG5yfMOQErqQcqcKBNAOXSqQAKlsrwP5bbPOscnZL4w64ruOwGJznUsxIglYaqq3sH8AMNDVKNieoa4yiIlr9MBBEr0vCPOirpGd8P-BkNKckt-TyzcaAX4vZuwpS84Q6V37YhTHzYSkEhBr6Z7p2HQowfFXP-sLopYaqZW1P-3sd1b873MDQhXh16PiBMFjmU~J9Ll4V2KUsMVuvF~4HQnZg9oJBzKa-AENMrmA3qSZTKanQvnp6jsFPAxxKH52xx-JoA~rnJ8q2a-pv9nWVxt4d60Zg5F-HW1C9FXOb0Hgy~ORew__&Key-Pair-Id=APKAI7S6A5RYOXBWRPDA"
  whitelist_url: "https://folk.ntnu.no/geiramh/10xgenomics"
